
<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

  <%= form_tag expenses_path, method: :post do %>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
       <div class="container">
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
         <a class="navbar-brand" href="#">Expensify</a>

         <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
           <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
             <li class="nav-item">
               <a class="nav-link" href="expenses">Expenses</a>
             </li>
             <li class="nav-item active">
               <a class="nav-link" href="dashboard">Dashboard <span class="sr-only">(current)</span></a>
             </li>
           </ul>
         </div>
       </div>
     </nav>

  <div class ="container my-4">
    <table class="table table-striped">
     <tr>
      <th>Dia</th>
      <th>Concept</th>
      <th>Categoría</th>
      <th>valor</th>
     </tr>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.date%></td>
        <td><%= expense.concept %></td>
        <td><%= expense.category.name%></td>
        <td><%= expense.amount%></td>
      </tr>
    <% end %>

<% end %>
</table>
</div>

</body>
